:root {
  --vp-c-default-1: var(--color-background-3);
  --vp-c-default-2: var(--color-background-2);
  --vp-c-default-3: var(--color-background-1);
  --vp-c-default-soft: var(--color-soft-lite);

  --vp-c-brand-1: var(--color-primary-content-lite);
  --vp-c-brand-2: var(--color-primary);
  --vp-c-brand-3: var(--color-primary-dark);
  --vp-c-brand-soft: var(--color-primary-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--color-primary-softer);

  --vp-c-warning-1: var(--color-warning-content);
  --vp-c-warning-2: var(--color-warning);
  --vp-c-warning-3: var(--color-warning);
  --vp-c-warning-soft: var(--color-warning-soft);

  --vp-c-danger-1: var(--color-error-content);
  --vp-c-danger-2: var(--color-error);
  --vp-c-danger-3: var(--color-error);
  --vp-c-danger-soft: color-mix(in oklab, var(--color-error) 15%, transparent);

  --vp-c-bg: var(--color-background-darkest);
  --vp-c-bg-alt: var(--color-background-0-liter);
  --vp-c-bg-elv: var(--color-background-dark);
  --vp-c-bg-soft: var(--color-background-0-liter);

  --vp-c-border: var(--color-primary-litest);
  --vp-c-divider: var(--color-primary-soft);
  --vp-c-gutter: var(--color-primary-soft);

  --vp-nav-bg-color: transparent;
  --vp-nav-screen-bg-color: var(--color-background-darkest);
  --vp-local-nav-bg-color: var(--color-background-0-liter);
  --vp-sidebar-bg-color: var(--color-background-darker);

  --vp-code-block-bg: var(--color-background-0-liter);
  --vp-code-copy-code-bg: var(--color-background-0);
  --vp-code-copy-code-hover-bg: var(--color-background-1);

  --vp-local-search-bg: var(--color-background-dark);
  --vp-local-search-result-bg: var(--color-background-0);
  --vp-local-search-result-border: var(--color-primary-soft);
  --vp-local-search-result-selected-bg: var(--color-primary-softer);
  --vp-local-search-result-selected-border: var(--color-primary-liter);

  --vp-custom-block-info-border: var(--color-soft);
  --vp-custom-block-info-text: var(--color-content-lite);
  --vp-custom-block-info-bg: var(--color-background-0-liter);
  --vp-custom-block-info-code-bg: var(--color-soft-lite);

  --vp-custom-block-note-border: var(--color-soft);
  --vp-custom-block-note-text: var(--color-content-lite);
  --vp-custom-block-note-bg: var(--color-background-0-liter);
  --vp-custom-block-note-code-bg: var(--color-soft-lite);

  --vp-custom-block-tip-border: var(--color-primary-litest);
  --vp-custom-block-tip-text: var(--color-content-lite);
  --vp-custom-block-tip-bg: var(--color-primary-softer);
  --vp-custom-block-tip-code-bg: var(--color-primary-soft);

  --vp-custom-block-warning-border: var(--color-warning-litest);
  --vp-custom-block-warning-text: var(--color-content-lite);
  --vp-custom-block-warning-code-bg: var(--color-warning-soft);

  --vp-custom-block-danger-border: color-mix(in oklab, var(--color-error-content) 35%, transparent);
  --vp-custom-block-danger-text: var(--color-content-lite);
  --vp-custom-block-danger-code-bg: var(--vp-c-danger-soft);

  --vp-custom-block-details-border: var(--color-primary-litest);
  --vp-custom-block-details-bg: var(--color-background-0-liter);
}

.vp-doc {
  h1 {
    color: var(--color-content);
    text-shadow: 0 0 32px var(--color-primary-darker);
  }

  h2 {
    color: var(--color-content);
  }

  a {
    text-decoration-color: var(--color-primary-liter);

    &:hover {
      text-decoration-color: var(--color-primary);
    }
  }

  div[class*='language-'],
  .vp-code-group .tabs {
    border: 1px solid var(--color-primary-soft);
  }

  .vp-code-group .tabs {
    border-bottom: none;
  }

  .vp-code-group div[class*='language-'] {
    border-top: none;
  }

  table {
    border: 1px solid var(--color-primary-litest);
    border-radius: var(--length-radius-s);
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--color-background-0-liter);
  }

  tr,
  tr:nth-child(2n) {
    background-color: transparent;
    border-top: none;
  }

  tr:hover {
    background-color: var(--color-primary-softest);
  }

  th,
  td {
    border: none;
    border-bottom: 1px solid var(--color-primary-soft);
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  th {
    color: var(--color-content-lite);
    background-color: var(--color-primary-softest);
  }

  .custom-block {
    border-radius: var(--length-radius-s);
    backdrop-filter: blur(16px);

    .custom-block-title {
      color: var(--color-content);
    }
  }

  .custom-block.tip .custom-block-title {
    color: var(--color-primary-content-lite);
  }

  .custom-block.warning .custom-block-title {
    color: var(--color-warning-content);
  }

  .custom-block.danger .custom-block-title {
    color: var(--color-error-content);
  }
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
