:root{
    --length-padding-xs: 4px;
    --length-radius-s: 8px;
    --length-radius-m: 12px;
    --length-radius-l: 16px;

    --length-padding-s: 4px;
    --length-padding-m: 8px;
    --length-padding-l: 16px;

}